h1 {
  font-family: "Grand Hotel";
  font-weight: bold;
  font-size: 30px;
}

p {
  font-family: Raleway;
}

#tog {
  margin-bottom: 150px;
  margin-left: 400px;
}

.pic{
  height: 500px;
  width: 500px;
  margin-left: 400px;
  margin-top:-500px;
}