body {
  overflow-x: hidden;
}

h1 {
  font-family: "Grand Hotel";
  font-weight: bold;
  font-size: 30px;
}

p {
  font-family: Raleway;
}

#tog {
  margin-bottom: 150px;
  margin-left: 400px;
}

.pic {
  height: 500px;
  width: 500px;
  margin-left: 400px;
  margin-top: -500px;
}

.apple {
  height: 30px;
  width: 100px;
}

#pam {
  font-family: Raleway;
  list-style: none;
  margin-left: 200px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 1000px;
  margin-left: 400px;
}

#myfont{
  font-family: "Grand Hotel";
  font-weight: normal;
  font-size: 40px;
  margin-top:30px;
}

#inst{
  font-family: "Grand Hotel";
  font-weight: normal;
  font-size: 40px;
  margin-top:30px;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  margin-bottom: 100px;
}

form.example button {
  float: left;
  width: 60px;
  height: 48px;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}