{% extends 'base.html' %}
{% block content %}
<div class="container text-center mt-5" id="tog">
    <div class="row">
        <div class="col-md-12">
            <h1>Instagram</h1>
            <form method="POST">
                {%csrf_token%}
                {{form.as_p}}
                <input type="submit" value="Login">
                <p>Don't have an account ?<a href="{% url 'signup'%}">Sign Up</a></h2>
                </p><br><br>
                <p>Get the app</p>
                {% load static %}
                <img class="apple" src="{% static 'css/images/appstore.png' %jpg' %}" alt="My image">
                <img class="apple" src="{% static 'css/images/playstore.png' %jpg' %}" alt="My image">
            </form>
        </div>
    </div>
</div>
{% load static %}
<img class="pic" src="{% static 'css/images/reels.jpg' %}" alt="My image">
{% endblock %}