{% extends 'base.html' %}
{% block content %}
<div class="card mt-5">
    <div class="container mt-5" id="pam">
        <div class="row">
            <div class="col-md-12">
                <h1>Instagram</h1>
                <p>Sign up to see photos and videos from your friends.</p>
                <form method="POST">
                    {%csrf_token%}
                    {{form.as_p}}
                    <input type="submit" value="signup">
                    <p>Already have an account ?<a href="{% url 'login'%}">login</a></p><br><br>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}