{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Instagram</h3>

            {% if user.is_authenticated%}<h1><a href="{% url 'logout'%}">Logout</a></h1>{% else %}<h1><a
                    href="{% url 'login'%}">Login</a></h1>{% endif %}
        </div>
    </div>
</div>
{% for image in images %}
<div class="card" style="width: 18rem;">
    
    <img src="{{ image.image.url }}" alt="{{ image.imagename }}">
    <div class="card-body">
        <h3>"{{ image.image_name }}"</h3>
        <p>"{{ image.image_caption }}"</p>
        
    </div>
    
</div>
{% endfor %}

<ul>



</ul>
{% endblock %}