{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Instagram</h3>
            
            {% if user.is_authenticated%}<h1><a href="{% url 'logout'%}">Logout</a></h1>{% else %}<h1><a
                    href="{% url 'login'%}">Login</a></h1>{% endif %}
        </div>
    </div>
</div>
<ul>
    {% for image in images %}
    <li>
        <img src="{{ image.image.url }}" alt="{{ image.imagename }}">
    </li>
    {% endfor %}
</ul>
{% endblock %}