{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Instagram</h1>
            <form method=="POST" action="">
                {% csrf_token %}
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit">
                    <p>Don't have an account ?Sign up</p><br><br>
                    <p>Get the app</p>
                </form>
            </form>
        </div>
    </div>


    {% endblock %}